In [1]:
import pandas as pd

# DisGeNET

In [3]:
evid_df = pd.read_csv('C0007193_disease_gda_evidences_CURATED.tsv', sep='\t')
evid_df.head()

,Disease,Disease_id,Gene,Gene_id,Score_gda,Association_Type,Type,Original_DB,Sentence,PMID,PMID_Year
0,"Cardiomyopathy, Dilated",C0007193,TNNI3,7137,0.66,Biomarker,NaN,GENOMICS_ENGLAND,NaN,NaN,NaN
1,"Cardiomyopathy, Dilated",C0007193,EPG5,57724,0.40,Biomarker,NaN,GENOMICS_ENGLAND,Role of Epg5 in selective neurodegeneration an...,23674064.0,2013.0
2,"Cardiomyopathy, Dilated",C0007193,FASLG,356,0.30,Biomarker,NaN,CTD_human,Myocardial Fas ligand expression increases sus...,17943461.0,2008.0
3,"Cardiomyopathy, Dilated",C0007193,LAMP2,3920,0.41,Biomarker,NaN,GENOMICS_ENGLAND,NaN,NaN,NaN
4,"Cardiomyopathy, Dilated",C0007193,LMNA,4000,0.70,Biomarker,NaN,CTD_human,Missense mutations in the rod domain of the <s...,10580070.0,1999.0

In [5]:
summary_df = pd.read_csv('C0007193_disease_gda_summary_CURATED.tsv', sep='\t')
summary_df.head()

,Disease,Disease_id,Gene,Gene_id,UniProt,Gene_Full_Name,Protein_Class,N_diseases_g,DSI_g,DPI_g,pLI,Score_gda,EL_gda,EI_gda,N_PMIDs,N_SNPs_gda,First_Ref,Last_Ref
0,"Cardiomyopathy, Dilated",C0007193,DMD,1756,P11532,dystrophin,NaN,48,0.477,0.724,1.000000e+00,0.90,strong,0.9375,1,0,1993.0,2016.0
1,"Cardiomyopathy, Dilated",C0007193,TNNT2,7139,P45379,"troponin T2, cardiac type",cytoskeletal protein,46,0.611,0.241,2.605000e-03,0.90,strong,1.0000,2,11,2000.0,2018.0
2,"Cardiomyopathy, Dilated",C0007193,TTN,7273,Q8WZ42,titin,NaN,37,0.534,0.655,6.433300e-84,0.90,strong,1.0000,3,201,1995.0,2017.0
3,"Cardiomyopathy, Dilated",C0007193,ACTC1,70,P68032,"actin, alpha, cardiac muscle 1",cytoskeletal protein,21,0.656,0.414,7.760600e-01,0.84,strong,0.7500,0,1,2002.0,2014.0
4,"Cardiomyopathy, Dilated",C0007193,MYH6,4624,P13533,myosin heavy chain 6,NaN,20,0.621,0.552,3.241600e-31,0.84,strong,1.0000,1,0,2006.0,2016.0

In [9]:
for gene in list(summary_df.Gene):
    print(gene)

DMD
TNNT2
TTN
ACTC1
MYH6
SGCD
DES
MYH7
CSRP3
SCN5A
LMNA
BAG3
TNNI3
LDB3
PSEN1
TMPO
PSEN2
SDHA
ADRB1
ADRB2
SOD2
EGFR
ILK
NKX2-5
FAS
PLN
TPM1
TNNC1
MYBPC3
TAZ
VCL
DNAJC19
EYA4
DSP
DOLK
FKTN
ABCC9
DSG2
CRYAB
ANKRD1
RBM20
MYPN
FHL2
RAF1
LAMA4
LAMP2
NEXN
NEBL
TXNRD2
ACTN2
GATAD1
TCAP
PRDM16
JUP
EPG5
HAMP
XK
ALMS1
GPX1
RYR2
NPPA
EMD
SLC22A5
IDH2
PKP2
TMEM43
NPPB
HFE
SYNE1
CD36
WDR12
NR3C2
CTF1
CAVIN4
FLNC
MYL3
MYL2
GLA
CSRNP1
MPO
CSF3
ABRA
SIK1
ITGB1
PDLIM3
PRKAG2
SLC40A1
DMPK
SCN1B
TTR
UCP1
DSC2
RENBP
FASN
ATM
FASLG
RAC1
FHL1
SYNE2
RAB3GAP2
TFR2

In [32]:
len(summary_df)

101

# HGNC

In [28]:
hgnc_df = pd.read_csv('hgnc-symbol-check.csv', header= 1)

In [30]:
hgnc_df.head()

,Input,Match type,Approved symbol,Approved name,HGNC ID,Location
0,DMD,Approved symbol,DMD,dystrophin,HGNC:2928,Xp21.2-p21.1
1,TNNT2,Approved symbol,TNNT2,"troponin T2, cardiac type",HGNC:11949,1q32.1
2,TTN,Approved symbol,TTN,titin,HGNC:12403,2q31.2
3,ACTC1,Approved symbol,ACTC1,actin alpha cardiac muscle 1,HGNC:143,15q14
4,MYH6,Approved symbol,MYH6,myosin heavy chain 6,HGNC:7576,14q11.2

In [33]:
len(hgnc_df)

109

In [52]:
#input_list_hgnc = list(hgnc_df.Input)
#my_genes = list(summary_df.Gene)

# save approved genes
approved_genes = []
for index,row in hgnc_df.iterrows():
    if row['Match type'] == 'Approved symbol':
        approved_genes.append(row['Input'])
        
#check if all my input genes are approved

if len(set(approved_genes)) == len(summary_df):
    print('All genes are approved!')
else:
    print('Not all genes are approved. Check!')

All genes are approved!