In [3]:
import pandas as pd

In [9]:
# read union dataset
union_df = pd.read_csv('results/union.csv', index_col=0)
union_df.head()

,interactor A gene symbol,interactor B gene symbol,interactor A Uniprot AC,interactor B Uniprot AC,database source
0,TCAP,TTN,O15273,Q8WZ42,IID
1,TCAP,CSRP3,O15273,P50461,IID
2,TCAP,ENO3,O15273,P13929,IID
3,TCAP,ENO1,O15273,P06733,IID
4,TCAP,MYOZ1,O15273,Q9NP98,IID

In [11]:
# consider just interactor names as couples of nodes (edges)
union_net = union_df[['interactor A gene symbol', 'interactor B gene symbol']]

In [12]:
# compute number of nodes

def nodes_20(df):
    a = list(df['interactor A gene symbol'])
    b = list(df['interactor B gene symbol'])
    all_nodes = set(a+b)
    n_nodes = len(all_nodes)
    return n_nodes

In [25]:
def global_measures(df, type_net):
    if nodes_20(df) >20:
        print('%s'%type_net,'network has in total: \n',nodes_20(df) ,'nodes \n' ,len(df), 'links')
    else:
        print('%s'%type_net,'network do not have a number of edges bigger than 20')

In [26]:
global_measures(union_net, 'union')

union network has in total:
 5513 nodes
 33695 links